


body {
  background-image: url(../img/teen-wolf.jpg);
  color: rgb(250, 252, 255);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #0f1b2d;
  max-height: 100vw;
  min-height: 100vw;
}

.main-palavras {
  display: flex;
  justify-content: center;
  gap: 15rem;

}

.palavras-cruzadas {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 3rem;
  min-height: 89vh;
  margin-right: 10vh;
  margin-left: 10vh;
  background-color: #0f1b2d;
  border: 2px solid rgb(19, 25, 77);
  border-radius: 9px;
}

.dicas {
  align-self: flex-start;
  font-family: 'Anton', sans-serif;
  margin-top: 3rem;
  margin-left: 13rem;
  cursor: pointer;
  max-height: 80vh;

}


button {
  width: 6rem;
  height: 38px;
  background: rgba(12, 18, 100, 0.97);
  border-radius: 6px;
  border: none;
  color: aliceblue;
  font-family: 'Anton', sans-serif;
  margin-left: -8px;
  align-items: center;
  border: 1px solid white;
  margin-bottom: 1.5rem;
}

.test {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

button:hover {
  background-color: rgb(78, 107, 204);
  cursor: pointer;
}

#exibir {
  margin-left: -12vh;
  margin-top: 3rem;
  max-width: 20rem;
  font-size: 19px;
}


.dicas input {
  width: 250px;
  height: 34px;
  background: rgba(231, 238, 240, 0.92);
  border-radius: 8px;
  /* border: none; */
  text-align: center;
  margin-left: -25px;
  margin-bottom: 18px;
}

.dicas select {
  width: 250px;
  height: 41px;
  background: rgba(255, 255, 255, 0.92);
  font-size: 15px;
  border-radius: 8px;
  text-align: center;
  margin-left: -25px;
  margin-top: 1rem;
  font-family: 'Anton', sans-serif;

}

.subtitulo {
  margin-left: 10px;
  margin-top: 2rem;
  margin-bottom: 10px;
}


table {
  border-collapse: collapse;
}

.titulo {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.vazio {
  background-color: #0f1b2d;
  color: aliceblue;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.white {
  background-color: aliceblue;
  border: 1px solid #000;
  color: #000;
}

.vermelho {
  border: 2px solid red;
}

.verde {
  border: 2px solid rgb(0, 255, 0);
}

.lista {
  margin-left: -704px;
  margin-top: -298px;
  font-family: 'Imprima', sans-serif;
  font-size: 20px;
  text-align: start;
  text-align: justify;
}